 a:hover{
    background-color: darkorange;
    font-size: 16px;
} 


a:link{
    color:darkgreen;
}

a:visited{
    color:blueviolet;
} 

a:active{
    color:rgb(242, 61, 15)
}


div{
    border: 5px solid black;
    padding: 10px;
    margin: 10;
}
/* Etiqueta elemento padre o madre - llamo a hijos/as (p) y doy una condicion al primer hijo (first) y al ultimo (last)  */
div p:last-child{
    color: rgb(34, 34, 119);
    background-color:rgb(187, 21, 49);
}


div p:first-child{
    color:rgb(76, 135, 187);
    background-color: rgb(223, 222, 229);
}

#medio{
    color:burlywood;
    background-color:aquamarine;
}

div p:nth-last-child(2){
    color: blueviolet;
    background-color: aquamarine;
}

p::before{
    content: "✅✨⚡";
    color:red
}

p::after{
    content:"⌛";
}



/* Estilos para la lista */
.lista {
    list-style: none;
    padding: 0;
  }

  /* Estilo básico para los elementos de la lista */
  .lista li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  /* Pseudo-selector :hover para resaltar al pasar el mouse */
  .lista li:hover {
    background-color: #f0f0f0;
  }

  /* Pseudo-selector :nth-child para resaltar elementos específicos */
  .lista li:nth-child(odd) {
    background-color: #e0e0e0;
  }

  /* Pseudo-selector :nth-child para otro tipo de resaltado */
  .lista li:nth-child(even) {
    color: blue;
  }
